<ng-container *ngIf="allTeams$ | async as teams else loading">
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="trackSingleTeam()">
      <div>
        <select [formControlName]="CONFERENCE_FORM_KEY" ngDefaultControl>
          <option *ngFor="let conference of conferences" [ngValue]="conference">
            {{conference}}
          </option>
        </select>
        <select [formControlName]="DIVISION_FORM_KEY" ngDefaultControl>
          <option *ngFor="let division of divisions" [ngValue]="division">
            {{division}}
          </option>
        </select>
        <select [formControlName]="TEAM_FORM_KEY" ngDefaultControl>
          <option *ngFor="let team of filteredTeams" [ngValue]="team">
            {{team.full_name}}
          </option>
        </select>
        <!--      <button class="primary" (click)="trackTeam(teamSelect.value)">Track team</button>-->
        <button class="primary" type="submit" [disabled]="form.invalid">Track team</button>

      </div>
    </form>
  </div>
</ng-container>
<div class="row">
  <app-team-stats class="col-sm-4" *ngFor="let team of nbaService.getTrackedTeams()" [team]="team">

  </app-team-stats>
</div>

<ng-template #loading>Loading...</ng-template>

