<ng-container *ngIf="allTeams$ | async as teams else loading">
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="trackTeam()">
      <div>
        <select [formControlName]="CONFERENCE_FORM_KEY" ngDefaultControl>
          <option *ngFor="let conference of conferences" [ngValue]="conference">
            {{conference}}
          </option>
        </select>
        <select [formControlName]="DIVISION_FORM_KEY" ngDefaultControl>
          <option *ngFor="let division of filteredDivisions" [ngValue]="division">
            {{division}}
          </option>
        </select>
        <select [formControlName]="TEAM_FORM_KEY" ngDefaultControl>
          <option *ngFor="let team of filteredTeams" [ngValue]="team">
            {{team.full_name}}
          </option>
        </select>
        <button class="primary" type="submit" [disabled]="form.invalid">Track team</button>
      </div>
    </form>
  </div>

  <div class="row">
    <p>Result of past</p>
    <select [formControl]="dayFormControl" ngDefaultControl>
      <option *ngFor="let day of days" [ngValue]="day">
        {{day}}
      </option>
    </select>
    <p>days</p>
  </div>
  <div class="row">
    <app-team-stats class="col-sm-4" *ngFor="let team of getTrackedTeams()" [team]="team"
                    [day]="dayFormControl.value">

    </app-team-stats>
  </div>
</ng-container>
<ng-template #loading>Loading...</ng-template>

